<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sekuya&display=swap">

  <style>
    .font-dosis {
      font-family: 'Dosis', sans-serif;
    }
    .font-sekuya {
        font-family: 'Sekuya', sans-serif;
    }
</style>



  <script src="https://cdn.tailwindcss.com"></script>

  <title>All movies</title>

  <link rel="icon" type="image/png" href="../static/img/logo-f-purple.png">
  <link rel="image" type="image/jpg" href="../static/img/blurred_movies.jpg">

</head>


<body class="bg-slate-900 text-white">

  <header class="bg-indigo-950 p-10 text-fuchsia-400">
    <h1 class="font-sekuya text-7xl font-bold">OUR MOVIES</h1>
    <h6 class="font-sekuya text-2xl">FLIXPORK</h6>
  </header>

  <main class="p-10">
    <div id="movies" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"></div>

    <div class="mt-10 flex gap-4">
      <button id="prev" class="bg-indigo-600 px-4 py-2 rounded hover:bg-indigo-700 transition">Précédent</button>
      <button id="next" class="bg-indigo-600 px-4 py-2 rounded hover:bg-indigo-700 transition">Suivant</button>
    </div>
  </main>

  <script type="module" src="../../api/everymovie.js"></script>
</body>
</html>