<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sekuya&display=swap">

  <style>
    .font-dosis {
      font-family: 'Dosis', sans-serif;
    }
    .font-sekuya {
        font-family: 'Sekuya', sans-serif;
    }
</style>



  <script src="https://cdn.tailwindcss.com"></script>

  <title>Movies</title>

  <link rel="icon" type="image/png" href="../static/img/logo-f-purple.png">
  <link rel="image" type="image/jpg" href="../static/img/blurred_movies.jpg">

</head>


<body class= "min-h-screen
             bg-[url('../static/img/blurred_movies.jpg')]
             bg-cover bg-center bg-no-repeat">

    <header class="bg-indigo-950 p-10 text-fuchsia-400">

        <h1 class="font-sekuya text-left text-7xl font-bold">FLIXPORK</h1>
      <h6 class="font-dosis text-left text-2xl">Movies</h6>

    </header>

    <main class="p-10 space-y-12">

      <section>
        <h2 class="text-3xl text-fuchsia-300 mb-4 font-dosis">Populaires</h2>
        <div id="popular" class="flex gap-4 overflow-x-auto scrollbar-hide"></div>
      </section>

      <section>
        <h2 class="text-3xl text-fuchsia-300 mb-4 font-dosis">Top Rated</h2>
        <div id="top-rated" class="flex gap-4 overflow-x-auto scrollbar-hide"></div>
      </section>

      <section>
        <h2 class="text-3xl text-fuchsia-300 mb-4 font-dosis">Upcoming</h2>
        <div id="upcoming" class="flex gap-4 overflow-x-auto scrollbar-hide"></div>
      </section>

    </main>


  <div class="absolute bottom-20 right-20">
   <div>
    <a href="/allmovies"
       class="font-sekuya text-fuchsia-400 text-1xl py-3 px-6 rounded-lg shadow-lg 
              bg-indigo-900 hover:bg-indigo-950 
              relative overflow-hidden
              glow-btn transition">
         BROWSE ➔
      </a>
    </div>
  </div>
  <script type="module" src="../../api/carroussel.js"></script>
</body>
</html>