<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sekuya&display=swap">

  <style>
    .font-dosis {
      font-family: 'Dosis', sans-serif;
    }
    .font-sekuya {
        font-family: 'Sekuya', sans-serif;
    }
</style>



  <script src="https://cdn.tailwindcss.com"></script>

  <title>Profile</title>

  <link rel="icon" type="image/png" href="../static/img/logo-f-purple.png">
  <link rel="image" type="image/jpg" href="../static/img/blurred_movies.jpg">

</head>

<body class="bg-slate-900 text-white">

  <header class="bg-indigo-950 p-10 text-fuchsia-400">
    <h1 id = "banner-pseudo" class="font-sekuya text-7xl font-bold"></h1>
    <h6 class="font-sekuya text-3xl">FLIXPORK</h6>

  </header>

  <div class="flex-grow p-4">

<h1 class = "font-sekuya text-fuchsia-400 text-3xl"> 
  <br> Your name: </br>
</h1>
<h1 id="profile-name" class = "font-dosis text-fuchsia-400 text-3xl"> 
</h1>
<h1 class = "font-sekuya text-fuchsia-400 text-3xl"> 
<br> Your mail: </br>
</h1>
<h1 id="profile-mail" class = "font-dosis text-fuchsia-400 text-3xl">
</h1>
  </div>
  
  <div class="mt-auto flex justify-between items-end px-10 pb-4 w-full">
    <div></div>
    <button id="logoutBtn" class="bg-red-900 text-white px-4 py-2 rounded text-sm w-fit">Logout</button>
  </div>





  <script type="module" src="../../api/profile.js"></script>
</body>
</html>